{{ define "content" }}
<!--<p class="lead justify-content-center text-center" style="height: 300px">-->
<!--  简单高效的地理位置收藏夹，快速收藏、分类整理。</br>-->
<!--</p>-->
</br>
<!--<p class="text-center" style="padding: 100px 0;">简单高效的地理位置收藏夹，快速收藏、分类整理。</p>-->
<dev>
    <div class="part">
        <p>Hi {{ .Token }}.</p>
    </div>
</dev>

<div class="row blockGroup">
    <div class="col-md-4 col-sm-6"><div class="block">
        <p class="text-center bjpfd-statistic-title">资产总额</p>
        <p class="text-center bjpfd-statistic-value">¥ {{ .SumMoneyStr }} ({{ .SumCreditStr }})</p>
    </div></div>
    <div class="col-md-4 col-sm-6"><div class="block">
        <p class="text-center bjpfd-statistic-title">投资总额</p>
        <p class="text-center bjpfd-statistic-value">¥ {{ .SumInvestmentStr }}</p>
    </div></div>
    <div class="col-md-4 col-sm-6"><div class="block">
        <p class="text-center bjpfd-statistic-title">收益总额</p>
        <p class="text-center bjpfd-statistic-value">¥ {{ .SumInvestmentIncomeStr }}</p>
    </div></div>

    <div class="col-md-4 col-sm-6"><div class="block">
        <p class="text-center bjpfd-statistic-title">收支状况</p>
        <p class="text-center bjpfd-statistic-value">¥ {{.SumBillsIncomeStr}} / {{.SumBillsSpendStr}}</p>
    </div></div>
    <div class="col-md-4 col-sm-6"><div class="block">
        <p class="text-center bjpfd-statistic-title">本年收支</p>
        <p class="text-center bjpfd-statistic-value">¥ {{.SumThisYearIncomeStr}} / {{.SumThisYearSpendStr}}</p>
    </div></div>
    <div class="col-md-4 col-sm-6"><div class="block">
        <p class="text-center bjpfd-statistic-title">本月收支</p>
        <p class="text-center bjpfd-statistic-value">¥ {{.SumThisMonthIncomeStr}} / {{.SumThisMonthSpendStr}}</p>
    </div></div>
</div>

<div class="charts">
    <div class="part">
        <div id="ChartOverview" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartWaterfallYear" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartWaterfallMonth" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartSpendMonthWithBudget" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartSpendYear" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartSpendMonth" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartSpendDay" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartInvestYear" style="height:400px;width: 100%"></div>
    </div>
    <div class="part">
        <div id="ChartInvestMonth" style="height:400px;width: 100%"></div>
    </div>
</div>

<script type="text/javascript">
    let ChartOverviewTypeData = []
    let ChartOverviewData = []

    {{ range $key,$value := .OverviewType }}
    ChartOverviewTypeData.push({
        name: '{{$key}}',
        value: {{$value}}.toFixed(2)
    })
    {{end}}
    {{range $key,$value := .Overview }}
    ChartOverviewData.push({
        name: '{{$key}}',
        value: {{$value}}.toFixed(2)
    })
    {{end}}

    handle.registerEchartsOverView('ChartOverview', '资产总况',
        '资产总况/分类统计', ChartOverviewTypeData, '资产总况', ChartOverviewData)

    let ChartWaterfallYearXAxis = []
    let ChartWaterfallYearAll = []
    let ChartWaterfallYearAdd = []
    let ChartWaterfallYearSub = []

    {{range $key,$value := .WaterfallYearAll }}
    ChartWaterfallYearAll.push({{$value}}.toFixed(2))
    ChartWaterfallYearXAxis.push({{$key}})
    {{end}}

    {{range $value := .WaterfallYearAdd }}
    if ({{$value}} == 0) {
        ChartWaterfallYearAdd.push('-')
    } else {
        ChartWaterfallYearAdd.push({{$value}}.toFixed(2))
    }
    {{end}}

    {{range $value := .WaterfallYearSub }}
    if ({{$value}} == 0) {
        ChartWaterfallYearSub.push('-')
    } else {
        ChartWaterfallYearSub.push({{$value}}.toFixed(2))
    }
    {{end}}

    handle.registerEchartsWaterfall("ChartWaterfallYear", false, "资产瀑布图/年",
        ChartWaterfallYearXAxis, ChartWaterfallYearAll, ChartWaterfallYearAdd, ChartWaterfallYearSub);

    let ChartWaterfallMonthXAxis = []
    let ChartWaterfallMonthAll = []
    let ChartWaterfallMonthAdd = []
    let ChartWaterfallMonthSub = []
    {{range $key,$value := .WaterfallMonthAll }}
    ChartWaterfallMonthAll.push({{$value}}.toFixed(2))
    ChartWaterfallMonthXAxis.push({{$key}})
    {{end}}
    {{range $value := .WaterfallMonthAdd }}
    if ({{$value}} == 0) {
        ChartWaterfallMonthAdd.push('-')
    } else {
        ChartWaterfallMonthAdd.push({{$value}}.toFixed(2))
    }
    {{end}}
    {{range $value := .WaterfallMonthSub }}
    if ({{$value}} == 0) {
        ChartWaterfallMonthSub.push('-')
    } else {
        ChartWaterfallMonthSub.push({{$value}}.toFixed(2))
    }
    {{end}}

    handle.registerEchartsWaterfall("ChartWaterfallMonth", true, "资产瀑布图/月",
        ChartWaterfallMonthXAxis, ChartWaterfallMonthAll, ChartWaterfallMonthAdd, ChartWaterfallMonthSub);


    let ChartSpendMonthWithBudgetXAxis = []
    let ChartSpendMonthWithBudgetData  = []
    let ChartSpendMonthWithBudgetSpend = []
    {{range $key,$value := .BudgetMonth }}
    ChartSpendMonthWithBudgetXAxis.push({{$key}})
    ChartSpendMonthWithBudgetData.push({{$value}}.toFixed(2))
    {{end}}
    {{range $key,$value := .BudgetReal }}
    ChartSpendMonthWithBudgetSpend.push({{$value}}.toFixed(2))
    {{end}}
    handle.registerEchartsLinesChart("ChartSpendMonthWithBudget", true, '预算消费趋势图',
        ChartSpendMonthWithBudgetXAxis, ChartSpendMonthWithBudgetData,ChartSpendMonthWithBudgetSpend)

    let ChartSpendYearXAxis = []
    let ChartSpendYearData  = []
    {{range $key,$value := .SpendYear }}
    ChartSpendYearXAxis.push({{$key}})
    ChartSpendYearData.push({{$value}}.toFixed(2))
    {{end}}
    handle.registerEchartsLinesChart("ChartSpendYear", false, '消费趋势统计/年',
        ChartSpendYearXAxis,ChartSpendYearData)

    let ChartSpendMonthXAxis = []
    let ChartSpendMonthData = []
    {{range $key,$value := .SpendMonth }}
    ChartSpendMonthXAxis.push({{$key}})
    ChartSpendMonthData.push({{$value}}.toFixed(2))
    {{end}}
    handle.registerEchartsLinesChart("ChartSpendMonth", true, '消费趋势统计/月',
        ChartSpendMonthXAxis,ChartSpendMonthData)

    let ChartSpendDayXAxis = []
    let ChartSpendDayData = []
    {{range $key,$value := .SpendDay }}
    ChartSpendDayXAxis.push({{$key}})
    ChartSpendDayData.push({{$value}}.toFixed(2))
    {{end}}
    handle.registerEchartsLinesChart("ChartSpendDay", true, '消费趋势统计/日',
        ChartSpendDayXAxis,ChartSpendDayData)

    let ChartInvestYearXAxis = []
    let ChartInvestYearData = []
    {{range $key,$value := .InvestmentYear }}
    ChartInvestYearXAxis.push({{$key}})
    ChartInvestYearData.push({{$value}}.toFixed(2))
    {{end}}
    handle.registerEchartsLinesChart("ChartInvestYear", false, '投资趋势统计/年',
        ChartInvestYearXAxis,ChartInvestYearData)

    let ChartInvestMonthXAxis = []
    let ChartInvestMonthData = []
    {{range $key,$value := .InvestmentMonth }}
    ChartInvestMonthXAxis.push({{$key}})
    ChartInvestMonthData.push({{$value}}.toFixed(2))
    {{end}}
    handle.registerEchartsLinesChart("ChartInvestMonth", true, '投资趋势统计/月',
        ChartInvestMonthXAxis,ChartInvestMonthData)


</script>

{{ end }}