{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BJ-PFD2</title>

    <!--    bootstrap v3.2.0-->
    <script href="/static/public/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/public/libs/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/public/libs/animate.css/4.1.1/animate.min.css">

    <!--    jquery v2.1.1 -->
    <script src="/static/public/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--    font awesome v4.2.0-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- echarts v5.3.3 -->
    <script src="/static/public/libs/echarts/5.3.3/echarts.min.js"></script>

    <!--    // 通用处理方法-->
    <script type="text/javascript" src="/static/public/js/handle.js"></script>
    <link rel="stylesheet" href="/static/public/css/main.css">

    <script async defer data-website-id="25dffda1-b6ff-4100-a680-eaa0f545ddca" src="https://umami.frytea.com/umami.js"></script>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <script defer src="https://umami.skybyte.me/script.js" data-website-id="93f4e0b8-2613-45be-a9a1-37fd135cf2d9"></script>

  </head>
  <body>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        {{ template "navbar" . }}
        <div class="inner cover">
        <div class="container">
        {{ template "content" . }}
        </div>
        </div>
{{/*    <div class="mastfoot">*/}}
      <div class="inner">
        <p>Copyright © 2022 • <a class="text-reset fw-bold" href="https://www.frytea.com/">Frytea</a>
         • <a class="text-reset fw-bold" href="http://beian.miit.gov.cn/">粤 ICP 备 19144283 号</a></p>
        PV <span id="busuanzi_value_site_pv"><i class="fa fa-spinner"></i></span>
        • UV <span id="busuanzi_value_site_uv"><i class="fa fa-spinner"></i></span>
      </div>
{{/*    </div>*/}}

      </div></div></div>
  </body>
</html>

{{ end }}
