{{ define "content" }}

<form id="login" class="form-signin center" role="form" action="/authenticate" method="post"
      onsubmit="return handle.checkHttps();">
  <h2 class="form-signin-heading">
    <i class="fa fa-line-chart animate__animated animate__jackInTheBox"></i>
      Bj-PFD2
  </h2>
{{/*  <p>请输入您的 Notion Token.</p>*/}}
  <input type="token" name="token" class="form-control" placeholder="Step1: 输入您的 Notion Token" required>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Step2: 查看报告</button>
  <br/>
<!--  <a class="lead pull-right" href="/signup">Sign up</a>-->
</form>

<script type="text/javascript">
  $('#login').on('submit', function (e) {
    e.preventDefault();
    let value = $('#login').serializeArray();
    let token = value.length > 0 ? value[0].value : '';
    // console.log(token);
    $.ajax({
        url: '/authenticate',
        type: 'POST',
        data: {token: token},
        success: function (data, textStatus, xhr) {
            // console.log(data);
            // console.log(textStatus);
            // console.log(xhr);
            window.location.href = '/';
        },
        error: function (xhr, textStatus) {
            // console.log(textStatus);
            // console.log(xhr);
            // console.log(xhr.responseText)
            alert(xhr.responseText)
        }
    })
  })
</script>

{{ end }}