{{ define "content" }}

<form class="form-signin center" role="form" action="/authenticate" method="post"
      onsubmit="return handle.checkHttps();">
  <h2 class="form-signin-heading">
    <i class="fa fa-map-marker">
      Bj-PFD2
    </i>
  </h2>
  <p>请输入您的 Notion Token.</p>
  <input type="token" name="token" class="form-control" placeholder="Notion Token" required>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">查看报告</button>
  <br/>
<!--  <a class="lead pull-right" href="/signup">Sign up</a>-->
</form>


{{ end }}