{{ define "navbar" }}
<div class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin: 10px;border-radius: 12px;box-shadow: 0 0 0;">
    <div class="container" style="border-radius: 12px;box-shadow: rgb(10 9 9 / 10%) 0px 0px 5px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-line-chart animate__animated animate__jackInTheBox"></i>
                BJ-PFD2
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="https://www.frytea.com/technology/bj-pfd2/home/">Docs</a></li>
                {{ if .HomePageUrl }}
                    <li><a href="{{ .HomePageUrl }}">DB</a></li>
                {{ end }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/?refresh=1">Refresh</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{{ end }}